* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body { 
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
}

.title {
    font-family: $r-font-bold, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: $color-mine-shaft;
    &_big {
        font-size: 50px;
        line-height: 60px;
        color: $color-mine-shaft;
    }
    &_red {
        color: $color-redical-red;
    }
}

.menu {
    &__item {
        padding: 0 14px;
        &-link {
            font-family: $o-font-600, sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 19px;
            color: $color-charade;
            transition: all 1s;
            &:focus {
                font-family: $o-font-bold, sans-serif;
            }
            &-footer {
                color: $color-white;
                transition: all .5s;
                &:focus {
                    font-family: $o-font-bold, sans-serif;
                }
            }
        }
    }
}

.product {
    &__img {
        max-width: 270px;
        max-height: 160px;
    }
    &__title {
        font-size: 20px;
        line-height: 26px;
        color: $color-charade;
        margin-top: 13px;
        margin-bottom: 11px;
        &_height {
            height: 52px;
        }
    }
    &__price {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 17px;
        
        &-old {
            font-family: $r-font-regular, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 26px;
            color: $color-dusty-grey;
        }
    }
    &__text {
        font-family: $o-font-regular, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: $color-mine-shaft;
    }
}